__pycache__/
# original source: https://gist.githubusercontent.com/kogakure/149016/raw/3e0e8350f040f21811ceea13975086158ccae986/.gitignore
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.swp
*.kate-swp
*.tex.backup
*.pyc
.fuse_hidden*
*.thm
*.snm
*.nav
*.lyx~
\#*.lyx\#

.~*#

diff*/

scalajs-postprocessed.js
